# docker-compose.yml
version: "3.8"

services:
  virusgame:
    # The image tag will be replaced by the GitHub Actions workflow
    image: ghcr.io/korjavin/virusgame:latest
    container_name: virusgame-backend
    networks:
      - virusgame-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.virusgame.rule=Host(`${HOSTNAME}`)"
      - "traefik.http.routers.virusgame.entrypoints=websecure"
      - "traefik.http.routers.virusgame.tls.certresolver=myresolver"
      # WebSocket support
      - "traefik.http.services.virusgame.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.virusgame-ws.headers.customrequestheaders.Connection=upgrade"
      - "traefik.http.middlewares.virusgame-ws.headers.customrequestheaders.Upgrade=websocket"
      - "traefik.http.routers.virusgame.middlewares=virusgame-ws"
    restart: unless-stopped

networks:
  virusgame-network:
    name: virusgame-network
    driver: bridge
